
.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #666;
}
 .navbar a:hover{
	color: #fff;
  border-radius: 0.5rem;
  background-color: #ff6b6b;
  padding: 3px 10px; 
}
.navbar.active{
  color: #fff;
  border-radius: 0.5rem;
  background-color: #ff6b6b;
  padding: 3px 10px;
} 
 .logo {
	padding-right: .3rem;
	color: rgb(224, 9, 9);
    font-size: 20px;
}
 .logo span{
	color: rgb(224, 9, 9);

}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

}

.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-menu{
    display: flex;
    gap:  20px;
    list-style: none;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar li{
    cursor: pointer;
}
.navbar-right img{
    width: 20px;
    width: 20px;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;

}

